.kanban-column {
  position: relative;
  width: clamp(15rem, 100%, 20rem);
}

.kanban-column h1 {
  position: sticky;
  inset: 0 0 auto 0;
  z-index: 1;

  border: solid 0.2rem aqua;
  padding: 0.6rem;
  font-size: large;
  text-align: center;
  background-color: aqua;
}

.kanban-column .items {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  border: solid 0.2rem aqua;
  background-color: #bfbfbf;
  padding: 0.4em;
  min-height: 6rem;
  min-width: 12rem;
}