.kanban-board-container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  margin: auto;
  /* max-width: 50rem;
  min-height: 24rem; */
}

.kanban-board-container .logo {
  width: 5rem;
  height: 5rem;
}