.kanban-board-container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  margin: auto;
  background-color: honeydew;
  height: 100vh;
}

.kanban-board-container header {
  white-space:nowrap;
  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 0.8em;
  margin: 0.6rem;
}

.kanban-board-container .logo {
  width: 5rem;
  height: 5rem;
  background-color: blueviolet;
  border-radius: 50%;
}

.kanban-board-container .project {
  font-size: x-large;
}
